numpy==1.22.4
h5py==3.7.0
pandas==1.5.1
matplotlib==3.6.2
seaborn==0.11.0
pillow==9.1.1
pip==22.1.2
scipy==1.8.1
tqdm==4.64.0
nibabel==3.0.2
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.8.1
timm==0.4.12

