accelerate
aim
black
flake8
GPUtil
h5py
hydra-core
hydra-optuna-sweeper
iterative-stratification
joblib
jupyterlab
matplotlib
mlflow
numpy
omegaconf
pandas
pylint
pymongo==3.10.1
pytest
scikit-image
scikit-learn
scipy
seaborn
tqdm
